/* Custom Styles */

#block-menu-menu-engage {
	border:1px solid #8071B4;
}

#block-menu-menu-engage .content {
	display:block;
}

#block-menu-menu-engage h2 {
	font-size:12pt;
	padding:5px 0px 5px 10px;
	background-color:#C1ACCF;
	background-image:url('/sites/all/themes/npeace/images/arrow_down.png');
	background-repeat:no-repeat;
	background-position:right;
	margin:0px;
}

#block-menu-menu-engage ul {
	padding-left:20px;
}

#block-menu-menu-engage ul li {
	list-style-image:url('/sites/all/themes/npeace/images/arrow_right.png');;
	margin-bottom:10px;
}

/* Site Map (Footer) */
#footer table {
	width:100%;
	color:#8071B4;
}

#footer table td {
	width:25%;
}

/* Country pages */
.node-type-country-page .panel-col-first {
	background-color:#8071B4;
	background:rgba(128,113,180,0.3);
	padding:10px;
	with:30%;
}

.node-type-country-page .panel-col-first .inside {
	position:relative;
}

.node-type-country-page .panel-col-last {
	padding:10px;
	width:60%;
}

.node-type-country-page .pane-node-create-links ul {
	padding-left:0px;
}

.node-type-country-page .pane-node-create-links ul li {
	list-style:none;
	border:1px solid #8071B4;
	padding:10px;
	background:rgba(128,113,180,0.3);
	margin-bottom:5px;
	text-align:center;
}

.node-type-country-page .view-display-id-og_country_story .views-row {
	width:49%;
	float:left;
}

.node-type-country-page .view-display-id-og_country_story .views-row {
	width:47%;
	float:left;
}

.node-type-country-page .view-display-id-og_country_story .views-row.views-row-odd {
	padding-right:10px;
	margin-right:10px;
	border-right:#CBCBCB 1px solid;
}

.node-type-country-page .view-display-id-og_country_story .views-field-picture {
	width:50%;
	float:left;
	margin-top:10px;
}

.node-type-country-page #country-stories {
	border-top:1px #cbcbcb solid;
	padding-top:10px;
}

.node-type-country-page .panel-separator {
	clear:both;
}