/**
 * @file
 * Views Styling
 */

/**
 * Default style for all views
 *
 */

.views-row {
	margin-top:10px;
}

.views-row-first {
	margin-top:0px;
}

/**
 * Styles for individual views (id by machine name)
 *
 */

.view-voting-list caption {
	font-size:18pt;
	color:#8D5B9F;
	margin-top:30px;
}

.view-voting-list tr {
	background-color:transparent;
}

.view-voting-list .views-field-field-nominee-photo {
	vertical-align:top;
}

.view-voting-list .views-field-field-nominee-about {
	vertical-align:top;
}

/**  e-mail archive **/
.view-network-e-mails .views-field-field-email-date {
	color:#8E8E8E;
	font-style:italic;
}

/**
 * Styles for individual views elements 
 *
 */

/** Tables **/
.views-table {
	width:100%;
}

.view-nomination-moderation-queue .views-table .views-field-view-node {
	width:100px;
	padding-right:10px;
}

.view-nomination-moderation-queue .views-table .views-field-field-nominee-about {
	width:300px;
	padding-right:10px;
}

.view-nomination-moderation-queue .views-table .views-field-edit-node {
	width:130px;
	padding-right:10px;	
}

.view-nomination-moderation-queue .views-table .views-field-delete-node {
	width:130px;
	padding-right:10px;	
}

.view-nomination-moderation-queue .views-table .views-field-nothing {
	width:130px;
}

.view-id-voting_list .views-field-nothing-1 p.file  {
	margin-top:0px;
	margin-bottom:0px;
}

.view-id-voting_list .views-field-nothing-1 p.file  {
	margin-top:20px;
	margin-bottom:20px;
}

.view-id-voting_list .views-field-view-node {
	vertical-align:top;
}

